nav.site-navigation
  .hamburger-menu.d-lg-none
    span
    span
    span
    span
  ul
    li
      a(data-scroll, href='index.pug#slider-section') Home
    li
      a(data-scroll, href='index.pug#intro') About
    li
      a(data-scroll, href='awareness.pug') Awareness Program
    li
      a(data-scroll, href='index.pug#benefits') Benefits
    li
      a(data-scroll, href='index.pug#learning') Apply
    