@import "./mixins";
#slider-section {
  height: 100%;
  // overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  // &::before {
  //   background-color: rgba(12, 12, 12, .4);
  //   content: " ";
  //   width: 100%;
  //   height: 100vh;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  // }
  #info-container {
    position: absolute;
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 60px;
      @include my_bp(sm) {
        font-size: 80px;
      }
    }
    img {
      width: 300px;
      padding-bottom: 30px;
    }
    .logo {
      width: 150px;
      position: absolute;
      top: 0;
      margin-top: 80px;
    }
  }
  img.slide {
    height: 100vh;
    width: auto;
    @include my_bp(sm) {
      height: auto;
      width: 100vw;
    }
  }
}

.site-navigation ul li a {
  color: #222;
}

.site-navigation ul li:before {
  background-color: #222;
}