@import "./mixins";
#slider-section {
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  &::before {
    background-color: rgba(12, 12, 12, .4);
    content: " ";
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
  }
  #info-container {
    position: absolute;
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 60px;
      @include my_bp(sm) {
        font-size: 80px;
      }
    }
    img {
      width: 300px;
      padding-bottom: 30px;
    }
    .logo {
      width: 150px;
      position: absolute;
      top: 0;
      margin-top: 80px;
    }
  }
  img.slide {
    height: 100vh;
    width: auto;
    @include my_bp(sm) {
      height: auto;
      width: 100vw;
    }
  }
}

#intro {
  p {
    text-align: justify;
  }
}

#benefits {
  .benefits {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    @include my_bp(sm) {
      flex-direction: row;
    }
    .cell {
      flex: 0 0 80%;
      display: flex;
      justify-content: center;
      align-items: stretch;
      padding: 20px;
      @include my_bp(sm) {
        flex: 0 0 33%;
      }
      .item {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #000;
        color: white;
        padding: 25px 10px;
        transition: all .2s ease;
        cursor: pointer;
        &:hover {
          transform: scale(1.15);
        }
        i {
          font-size: 4em;
        }
        p {
          margin: 0;
          padding: 0;
          padding-top: 10px;
          font-size: 20px;
          text-align: center;
        }
      }
    }
  }
}

#unite {
  margin-top: 60px;
  background-image: url('../img/unitebg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  text-align: center;
  h1 {
    color: white;
    text-align: center;
  }
  .button {
    border: 1px solid white;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    transition: all 1s ease;
    &:hover {
      color: white;
      text-decoration: none;
      background: #333;
    }
  }
}

#apply {
  padding-bottom: 80px;
}

#learning {
  .button {
    border: 1px solid #333;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;
    color: #333;
    display: inline-block;
    transition: all 1s ease;
    margin-right: 20px;
    &:hover {
      color: white;
      text-decoration: none;
      background: #999;
    }
  }
}

.button {
  border: 1px solid #333;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 20px;
  color: #333;
  display: inline-block;
  transition: all 1s ease;
  // margin-right: 20px;
  &:hover {
    color: white;
    text-decoration: none;
    background: #999;
  }
}