doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/awareness.scss")
  body

    include parts/menu.pug

    section#slider-section
      img.slide(src="./img/awareness.jpg")

    section.section-content
      .container
        .row
          .col-sm-12
            h3 XR Ecosystem Awareness
            
            p Date: Monday, 18th of May
            p Duration: 1 hour 

            h3 Session Agenda:
            ul
              li Introduction to Unity Technologies
              li Current/Future state of Gaming Ecosystem
              li Current/Future state of XR Ecosystem
              li XR Job Market and the need for a larger workforce.
              li Introduction to the New Course

            p The session is primarily aimed at educating all the University stakeholders on why it is necessary to have students trained in this domain. The XR and the Gaming industry is already developing at a fast pace within and outside India. So, it is high time that we start creating a skilled workforce in this domain to cater to the technology boom.

            p Please fill out the form below, to secure a seat for the session.

            a.button(href="https://forms.gle/8beMrJfM9h4WESRt9") Apply Now
    
    include parts/footer.pug