doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/home.scss")
  link(rel="stylesheet", href="./css/details.scss")
  body

    include parts/menu.pug

    section.section-content
      .container
        .row.pb-5
          .col-sm-12
            h1.text-center Unity Certification Course

        .row
          .col-sm-12
            h2.pb-3 Course & Exam Objective
            p The Unity Certified Associate exam is made up of 100 questions in 16 topic areas. Question formats include multiple choice, hot-spot, drag-and-drop, and matching. 
            p Unity Associate courseware and certification cover:

          .col-sm-6
            ul
              li Animation
              li Asset management
              li Audio
              li Editor interface
              li Employment preparedness
              li Game art principles
              li Game design principles
              li Industry awareness
          .col-sm-6
            ul
              li Lighting
              li Materials and effects
              li Navigation and pathfinding
              li Physics
              li Programming
              li Project management
              li Service
              li User interface

        .row.pt-3
          .col-sm-12
            h2.pb-3 Unity Courseware
            p Learn the Unity platform and game development fundamentals by following the production of a working game Zombie Toys from concept, all the way through to publishing. Unity Certified Associate courseware gives you a structured, self-study program that includes everything you need to succeed:
            ul
              li 20 chapters of video-rich learning content (199 videos, approximately 19 hours*)
              li All Zombie Toys game project exercise files and assets you or your students will need to follow along in Unity
              li All the assets you and your students will need to build the game

            p Focus on the essentials. Learn about the job roles and skills most essential to game production, and gain Unity experience that directly maps to preparation for the Unity Certified Associate Exam.
            p Build a working game. Develop an end-to-end understanding of game production with Unity by building Zombie Toys, a third-person, 3D survival arcade game. Learn hands-on as you follow videos and execute game-development tasks covering everything from importing assets, to scripting behavior, to building the game for publication.

        .row.pt-3
          .col-sm-12
            h2.pb-3 Course Outcome
            p Unity Associate certification and courseware provides a structured, hands-on, self-study program for learning Unity and game development. You’ll build a working game from the ground up using the Zombie Toys assets provided. And, the courseware will prepare you to take the Unity Certified Associate exam.
            p Unity Certified Associate could set you on the path to a profession in game development.


    include parts/footer.pug

    script(src="./js/index.js")