doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/home.scss")
  body

    include parts/menu.pug

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    section#slider-section
      img.slide(src="./img/vr-bg.jpg")
      .container#info-container
        .row
          //- img.logo(src="./img/ict.png")
          .col-sm-12
            img.img-fluid(src="./img/unity.png")
            h1 Certification Course
            h5 Powered by ICT Academy of Kerala

    section#intro.section-content
      .container
        .row  
          .col-sm-12
            h1.pb-3 Introduction
            p ICT Academy along with KSUM and Unity Technologies is providing an XR Learning Path for professionals and students. The course bundle will include the official Unity Courseware along with the Unity Associate Certification Exam/Certified Programmer/Certified 3D Artist. 
            p Learn how to use Unity while making a game and earning an industry-recognized certification. Becoming Unity Certified is a great way to learn how to make games and even get started on a path to a career in games. Break into games or make your mark in one of the many industries that rely on Unity to make the best interactive content. Accelerate your career in games, VR, film, automotive or any of the many industries that are clamoring for Unity talent.

    section#benefits
      .container
        .row
          .col-sm-12
            h1.text-center Benefits
          .benefits
            .cell
              .item
                i.fa.fa-ticket
                p Educational License
            .cell
              .item
                i.fa.fa-rocket
                p Access to lab & Equipments
            .cell
              .item
                i.fa.fa-ticket
                p Unity Courseware
            .cell
              .item
                i.fa.fa-graduation-cap
                p Free Unity Certification
            .cell
              .item
                i.fa.fa-handshake-o
                p Internship/Job Opportunities
            .cell
              .item
                i.fa.fa-code-fork
                p Unity User Group Meeting

      section#unite.section-content
        .container
          .row
            .col-sm-12
              h1 Selected students will be eligible for Level 2: AR/VR Developer Course with scholarship
              //- a.button(href="#") Find Out More

      section.section-content
        .container
          .row.align-items-center
            .col-sm-9
              h1 Unity
              p.text-justify Unity is the creator of the world’s most widely used real-time 3D development platform, giving developers around the world the tools to create rich, interactive 2D, 3D, VR and AR experiences.
              p.text-justify Games and experiences made with Unity have reached ~3 billion devices worldwide and were installed more than 28 billion times in the last 12 months. Unity’s renowned flexibility gives developers the power to target and optimize their creations for  25+ platforms
            .col-sm-3
              img.img-fluid(src="./img/unity-black.png")

      section#learning.pb-5
        .container
          .row.align-items-center
            .col-sm-12
              h1 Learning Path Structure
              p The learning path will mainly consist of two courses:
            .col-sm-6
              h5 Level 1: Unity Developer Course
              ul
                li 2 month long course.
                li Will learn the basics of Game Development & Unity.
                li Become a Unity Certified Associate.
                li Will be able to create small end to end games by the end of this course.
                li Can exit from this path after getting certified.
                li Partially Online.
              a.button(href="details.pug") Find Out More
              //- a.button(href="https://docs.google.com/forms/d/e/1FAIpQLSc3vnqeKNaP18RiPzoLcB4ssXi6noGIM6koYirxnj3FPAQxqQ/viewform") Apply Now
            .col-sm-6
              h5 Level 2: AR/VR Developer Course (Programmer/3D Artist)
              ul
                li 6 month long course.
                li Will learn Intermediate Game Development & Unity skills.
                li Learn the basics of VR and AR technologies.
                li Learn with latest industry hardware.
                li Will be able to do intermediate development in Unity and create simulations in AR and VR.
                li Become Unity Certified Programmer/3D Artist. 
                li Completely Offline.
              a.button(href="#") Comming Soon

      section.section-content#webinar
        .container
          .row
            .col-sm-12.mb-5
              h2.text-center XR Ecosystem Awareness Webinar
            .col-sm-6
              p Date: Monday, 18th of May
              p Time: 4PM to 5PM
              p Speaker: Arvind Neelakantan, Head of Technology & Evangelism - Indian Subcontinent

              h4 Speaker Profile:
              p A game engineer with over 12 years of experience, Arvind is a technical evangelist and head of technology for Unity India, whose work spans games, manufacturing, and film/animation. Prior to joining Unity in 2016, he was a game developer at uWink and senior gameplay engineer at Nickelodeon Games in California, where he developed MMOs in Unity. Believing strongly in Indian studios’ potential, Arvind moved there to lead the engineering team for Disney India, where he worked on mobile games, VR/AR experiences, and experimental technologies.

              h4 Session Agenda:
              ul
                li Introduction to Unity Technologies
                li Current/Future state of Gaming Ecosystem
                li Current/Future state of XR Ecosystem
                li XR Job Market and the need for a larger workforce.
                li Introduction to the New Course

              p.text-justify The session is primarily aimed at educating all the University stakeholders on why it is necessary to have students trained in this domain. The XR and the Gaming industry is already developing at a fast pace within and outside India. So, it is high time that we start creating a skilled workforce in this domain to cater to the technology boom.

              
            .col-sm-6.d-flex.flex-column.align-items-center
              img.img-fluid(src="./img/awareness.jpg" )

              h4.mt-3 Grab your seat now!

              a.button(href="https://forms.gle/8beMrJfM9h4WESRt9" target="_blank") Register Now
              p.small.text-muted {{data[0].total - data[0].count}}/{{data[0].total}} seats remaining

      //- section#apply.section-content
      //-   .container
      //-     .row
      //-       .col-sm-12
      //-         h1.pb-3 Apply for Unity Course

              
              
    
    include parts/footer.pug

    script(src="./js/index.js")
    script(src="./js/home.js")
    script. 
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
      }   
